html, body {
    height: 100%;
    width: 100%;
  }
  h5{
      background-color: rgb(11, 148, 158);
      color: whitesmoke;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      text-align: center;
  
  }
  .card-text{
      background-color: rgb(30, 200, 206);
      color: whitesmoke;
      font-family: cursive;
      text-transform: capitalize;
      
  }
  .btn {
      background-color: rgb(12, 195, 228);
      color: whitesmoke;
      font-family: Arial, Helvetica, sans-serif;
  
      
  
  }
  .btn:hover{
      background-color: rgb(98, 11, 211);
  /*}
  h1{
      font-family: cursive;
      color: rgb(113, 13, 172);
  
  }*/
  
  
  
  }
  